.header {
    align-items: center;
    background-color: $primary-color;
    display: flex;
    padding: 1rem 2rem;
    position: relative;

    &:hover {
        cursor: pointer;
    }
    &:after {
        border-color: $primary-color transparent transparent transparent;
        border-style: solid;
        border-width: 15px 15px 0 15px;
        content: "";
        height: 0;
        left: 100px;
        position: absolute;
        top: 100%;
        width: 0;
    }

    &__title {
        color: #fff;
        font-size: 2rem;
        font-weight: normal;
        flex: 1 1 auto;
    }
    &__icon {
        transition: transform 300ms;
    }
    &__hiden-settings {
        &:after {
            display: none;
        }
        .header__icon {
            transform: rotate(180deg);
        }
    }
}
.settings {
    background-color: $background;
    border: 1px solid $border-color;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;

    &__link {
        align-items: center;
        display: flex;
        flex: 1 1 50%;
        font-size: 1.25rem;
        padding: 1rem 0;
    }
    &__icon {
        padding-right: 2rem;
    }
}
.section {
    border: 1px solid $border-color;
    padding: 1rem 2rem;
}
.subheader {
    align-items: center;
    display: flex;
    padding: 1rem 2rem;

    &__title {
        font-size: 1.75rem;
        font-weight: normal;
        flex: 1 1 auto;
    }
    &__icon {
        cursor: pointer;
    }
}
.modelslist {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {

        &:nth-child(2n+1) {
            .model {
                background-color: $background;
            }
        }
    }
}
.model {
    align-items: center;
    display: flex;
    padding: 1rem 2rem;

    &__icon {
        &Wrap {
            padding-right: 2rem;
        }
    }
    &__info {
        flex: 1 1 auto;
    }
    &__title {
        font-weight: bold;
        line-height: 1.25;
        margin-bottom: .25rem;
    }
    &__desc,
    &__serial {
        font-size: .875rem;
        margin-bottom: .25rem;
    }
}
.modal {
    display: none;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    &__overlay {
        background-color: rgba(0, 0, 0, .3);
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }
    &__dialog {
        background-color: $background;
        left: 0;
        margin: auto;
        max-width: 600px;
        padding: 3rem;
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 500px) {
    .settings {
        &__link {
            flex-basis: 100%;
        }
    }
}